body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.book {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Start off-screen */
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }

  
.sidebar.show {
    right: 0; /* Slide in */
}

.cart-item {
    margin: 10px 0;
}

#checkout {
    background-color: #28a745; /* Green */
}

#checkout:hover {
    background-color: #218838; /* Darker green */
}
